.active-aupair-parent-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.active-aupair-parent-container .active-aupair-container .host-family-account-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.active-aupair-parent-container .active-aupair-container .host-family-account-container .column-one {
  border: 3px solid #245CC5;
  padding: 15px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.active-aupair-parent-container .active-aupair-container .host-family-account-container .column-one .host-family-photo-container {
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  max-width: 300px;
  width: 100%;
  padding: 10px;
}

.active-aupair-parent-container .active-aupair-container .host-family-account-container .column-one .host-family-photo-container img {
  width: 100%;
  height: 300px;
  border-radius: 15px;
}

.active-aupair-parent-container .active-aupair-container .host-family-account-container .column-one #photo-description {
  margin-top: 15px;
}

.active-aupair-parent-container .active-aupair-container .host-family-account-container .column-two {
  padding: 15px;
  margin-top: 15px;
}

.active-aupair-parent-container .active-aupair-container .host-family-account-container .column-two h3 {
  text-align: center;
}

.active-aupair-parent-container .active-aupair-container .host-family-account-container .column-two h5 {
  margin-top: 10px;
}

.active-aupair-parent-container .row {
  width: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.active-aupair-parent-container .row .personal-information-parent-container,
.active-aupair-parent-container .row .job-information-parent-container,
.active-aupair-parent-container .row .letter-to-the-applicant-parent-container,
.active-aupair-parent-container .row .contact-information-parent-container {
  padding: 40px 20px 40px 20px;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.active-aupair-parent-container .row .job-information-parent-container,
.active-aupair-parent-container .row .letter-to-the-applicant-parent-container {
  margin-top: 15px;
  margin-bottom: 15px;
}

@media (min-width: 992px) {
  .host-family-account-container {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
  }
  .host-family-account-container .column-one {
    width: 50%;
  }
  .host-family-account-container .column-two {
    width: 50%;
  }
  .row {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-flow: row !important;
            flex-flow: row !important;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 68% !important;
  }
  .personal-information-parent-container,
  .job-information-parent-container,
  .letter-to-the-applicant-parent-container,
  .contact-information-parent-container {
    width: 49%;
  }
}
/*# sourceMappingURL=view-host-family-profile.css.map */