@import "../../../utilities/sass/variables";
.message-container{
    .send-to{
        display: flex;
        justify-content: space-between;
        .first-column{
            display: flex;
            align-items: center;
            .photo-container{
                height: 55px;
                width: 55px;
                #user-photo{
                    border-radius: 15px;
                    height: 55px;
                    width: 55px;
                }
                margin-right: 30px;
            }
          
        }
        .second-column{
            display: flex;
            align-items: center;
            #arrow-left-icon{
                font-size: 20px;
                font-weight: bolder;
                a{
                    color: black;
                }
            }
            #arrow-left-icon:hover{
                cursor: pointer;
                a{
                    color: $primary-color;
                }
            }
        }
    }
    .chat-area{
        height: 400px;
        max-height: 400px;
        margin-top: 15px;
        padding: 15px;
        border: 3px solid $primary-color;
        overflow: scroll;
        .msg-parent-container{
            margin-bottom: 5px;
            .msg-container{
                width: 65%;
                padding: 10px;
                #created-at{
                    font-size: 12px;
                    float: right;
                }
            }
        }
        .sender{
            display: flex;
            justify-content: flex-end;
            .msg-container{
                background: $primary-color;
                color: white;
                border-radius: 15px 15px 0 15px;
            }
        }
        .receiver{
            display: flex;
            justify-content: flex-start;
            .msg-container{
                background: #f5f5f5;
                border-radius: 15px 15px 15px 15px;
            }
        }
      
       
    }
    .input-area{
        display: flex;
        margin-top: 15px;
        #message-field{
            width: 100%;
        }
        #send-btn{
            margin-left: 15px;
            background-color: $primary-color;
            color: white;
        }
        #send-btn:hover{
            opacity: 0.7;
        }
        .host-family-free-container{
            .host-family-free-msg-container{
                #host-family-free-msg{
                    font-weight: bold;
                }
            }
            .host-family-free-btn-container{
                button{
                    width: 100%;
                }
            }
        }
        .employee-free-container{
            .send-employee-free-msg-btn-container{
                width: 100%;
                #send-employee-free-msg-btn{
                    margin-top: 15px;
                    width: 100%;
                    background-color: $primary-color;
                    color: white;
                }
                #send-employee-free-msg-btn:hover{
                    opacity: 0.7; 
                }
            }
        }
    }

}

#premium-member{
    color: $primary-color;
}
// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    .input-area{
        .host-family-free-btn-container{
            display: flex;
            justify-content: flex-end;
            button{
                width: auto !important;
            }
        }
        .employee-free-container{
            .send-employee-free-msg-btn-container{
                display: flex;
                #send-employee-free-msg-btn{
                    width: auto !important;
                    margin-top: 0px !important;
                    margin-left: 15px;
                }
            }
        }
    }


}